.text-white{
    color: white;
}

.background-color-primary {
    background-color: #1f2d3f !important;;
}

.footer-custom {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
