::-ms-reveal {
    display: none;
}

span#toggle-password,
span#toggle-confirm-password,
span#toggle-password-mobile,
span#toggle-confirm-password-mobile {
    position: absolute;
    top: 3px;
    right: 4px;
    z-index: 10;
    width: 28px;
    height: 30px;
    background: 0;
    border: 0;
}

.input-password {
    padding-right: calc(1.5em + 0.75rem);
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
