@page
@model tm20trial.Web.Areas.Identity.Pages.Account.ForgotPasswordModel
@{
ViewData["Title"] = "Forgot your password";
}


<link rel="stylesheet" href="~/Identity/css/login.css">
<section class="vh-100 main-section">
    <div class="container-fluid h-100">
        <div class="row d-flex main-container justify-content-center align-items-center h-100">
            <div class="col-md-0 col-lg-6 col-xl-8" >
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4 form-container">
                <form class="form" id="account" method="post">

                    <h1 class="text-center"> <span>Trial</span> <span>Classics</span> </h1>
                    <hr />

                    <h5>Forgot your password ?</h5>
                    <div class="form-outline mb-4">
                        <label asp-for="Input.Email">
                            <div class="row">
                                <div class="col-12">
                                    Email
                                    <span class="star-required">*</span>
                                </div>
                            </div>
                        </label>
                        <input asp-for="Input.Email" class="form-control"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="row justify-content-between align-items-center" id="actions">
                        <div class="col-6">
                            <a asp-page="Login" class="btn btn-secondary">Back</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary float-right">Send</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>