@page
@model tm20trial.Web.Areas.Identity.Pages.Account.ForgotPasswordConfirmation

@{
    ViewData["Title"] = "Forgotten password request completed";
}

<link rel="stylesheet" href="~/Identity/css/login.css">
<section class="vh-100 main-section">
    <div class="container-fluid h-100">
        <div class="row d-flex main-container justify-content-center align-items-center h-100">
            <div class="col-md-0 col-lg-6 col-xl-8" >
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4 form-container">
                <form class="form" id="account" method="post">
                    <h1 class="text-center"> <span>Trial</span> <span>Classics</span> </h1>
                    <hr />
                    <br />
                    <p>
                        Your password reset request has been processed. <br />Please follow the instructions sent by email to set a new password.
                    </p>

                </form>
            </div>
        </div>
    </div>
</section>