@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/Identity/css/show-hide-password.css">
<link rel="stylesheet" href="~/Identity/css/login.css">
<section class="vh-100 main-section">
    <div class="container-fluid h-100">
        <div class="row d-flex main-container justify-content-center align-items-center h-100">
            <div class="col-md-0 col-lg-6 col-xl-7">
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5 form-container">
                <form class="form" id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h1 class="text-center">Create a new account</h1>
                    <hr/>
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password"  type="password" id="password"  autocomplete="current-password" placeholder="password"
                               class="form-control input-password rounded" spellcheck="false" autocorrect="off" autocapitalize="off"/>
                        <label asp-for="Input.Password">Password</label>
                        <span role="button" id="toggle-password" type="button" class="padding-top-12">
                            <img id="img-eye-open" src="~/Identity/img/open-eye.svg"/>
                            <img id="img-eye-close" src="~/Identity/img/close-eye.svg" hidden="true"/>
                        </span>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control input-password rounded" id="confirm-password"  
                               autocomplete="current-password" placeholder="password" spellcheck="false" autocorrect="off" autocapitalize="off"/>
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span role="button" id="toggle-confirm-password" type="button" class="padding-top-12">
                            <img id="img-eye-open-confirm" src="~/Identity/img/open-eye.svg"/>
                            <img id="img-eye-close-confirm" src="~/Identity/img/close-eye.svg" hidden="true"/>
                        </span>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.DisplayName" class="form-control" autocomplete="display-name" aria-required="true" placeholder="display name"/>
                        <label asp-for="Input.DisplayName">Display name</label>
                        <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.LoginUplay" class="form-control" aria-required="false" placeholder="Pseudo123"/>
                        <label asp-for="Input.LoginUplay">Login uplay</label>
                        <span asp-validation-for="Input.LoginUplay" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.TwitchUsername" class="form-control" aria-required="false" placeholder="twitchUsername"/>
                        <label asp-for="Input.TwitchUsername">Twitch Username</label>
                        <span asp-validation-for="Input.TwitchUsername" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.TwitterUsername" class="form-control" aria-required="false" placeholder="Twitter Username"/>
                        <label asp-for="Input.TwitterUsername">Twitter Username</label>
                        <span asp-validation-for="Input.TwitterUsername" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.TmIoId" class="form-control" aria-required="false" placeholder="9dac4817-738d-4eb1-adb2-3ad18ef61ddf"/>
                        <label asp-for="Input.TmIoId">Trackmania.Io ID</label>
                        <span asp-validation-for="Input.TmIoId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <input class="form-check-input" asp-for="Input.IsMapper" type="checkbox" aria-required="false"/>
                        <label asp-for="Input.IsMapper">Are you a mapper?</label>
                    </div>
                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript" src="~/Identity/js/show-hide-password.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}