@page
@model tm20trial.Web.Areas.Identity.Pages.Account.ResetPasswordModel
@{
ViewData["Title"] = "Reset your password";
}
<link rel="stylesheet" href="~/Identity/css/show-hide-password.css">
<link rel="stylesheet" href="~/Identity/css/login.css">
<section class="vh-100 main-section">
    <div class="container-fluid h-100">
        <div class="row d-flex main-container justify-content-center align-items-center h-100">
            <div class="col-md-0 col-lg-6 col-xl-8" >
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4 form-container">
                <form class="form" id="account" method="post">

                    <h1 class="text-center"> <span>Trial</span> <span>Classics</span> </h1>
                    <hr />

                    <h5>Reset your password </h5>
                    <div class="form-outline mb-4">
                        <label asp-for="Input.Email">
                            <div class="row">
                                <div class="col-12">
                                    Email
                                    <span class="star-required">*</span>
                                </div>
                            </div>
                        </label>
                        <input asp-for="Input.Email" class="form-control"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.Password"  type="password" id="password"  autocomplete="current-password" placeholder="password"
                               class="form-control input-password rounded" spellcheck="false" autocorrect="off" autocapitalize="off"/>
                        <label asp-for="Input.Password">Password</label>
                        <span role="button" id="toggle-password" type="button" class="padding-top-12">
                            <img id="img-eye-open" src="~/Identity/img/open-eye.svg"/>
                            <img id="img-eye-close" src="~/Identity/img/close-eye.svg" hidden="true"/>
                        </span>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>

                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control input-password rounded" id="confirm-password"
                               autocomplete="current-password" placeholder="password" spellcheck="false" autocorrect="off" autocapitalize="off"/>
                        <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                        <span role="button" id="toggle-confirm-password" type="button" class="padding-top-12">
                            <img id="img-eye-open-confirm" src="~/Identity/img/open-eye.svg"/>
                            <img id="img-eye-close-confirm" src="~/Identity/img/close-eye.svg" hidden="true"/>
                        </span>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    @if (Model.PasswordErrors != null && Model.PasswordErrors.Any())
                    {
                        <div class="form-group">
                            <ul class="text-danger">
                                <li>@Model.PasswordErrors</li>
                            </ul>
                        </div>
                    }
                    <div class="row justify-content-between align-items-center" id="actions">
                        <div class="col-6">
                            <a asp-page="Login" class="btn btn-secondary">Back</a>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary float-right">Send</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Identity/js/show-hide-password.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}