@page
@model tm20trial.Web.Areas.Identity.Pages.Account.ResetPasswordConfirmation

@{
    ViewData["Title"] = "Password reset completed";
}

<link rel="stylesheet" href="~/Identity/css/login.css">
<section class="vh-100 main-section">
    <div class="container-fluid h-100">
        <div class="row d-flex main-container justify-content-center align-items-center h-100">
            <div class="col-md-0 col-lg-6 col-xl-8" >
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4 form-container">
                <form class="form" id="account" method="post">
                    <h1 class="text-center"> <span>Trial</span> <span>Classics</span> </h1>
                    <hr />
                    <br />
                    <p>
                        Your password has been reset, you will be redirect in a few seconds...
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    setTimeout(function () {
        window.location.href = "./Login"; 
    }, 2500);
</script>