<nz-row *ngIf="!loading else loadingMap" [nzGutter]="[16,16]">
  <nz-col nzSpan="8">
    <nz-card [nzCover]="coverTemplate" [nzActions]="[actionDownload,actionRefreshTime]">
      <nz-card-meta [nzTitle]="map.name" [nzDescription]="'by ' + map.author"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <img alt="map" [src]="map.imageLink"/>
    </ng-template>
    <ng-template #actionDownload>
      <a
        nz-button
        nzType="link"
        nz-tooltip
        nzTooltipTitle="Download"
        [href]="map.fileUrl" target="_blank"
      >
        <i nz-icon nzType="download" nzTheme="outline"></i>
      </a>
    </ng-template>
    <ng-template #actionRefreshTime>
      <a
        nz-button
        nzType="link"
        nz-tooltip
        nzTooltipTitle="Refresh time from tm.io"
        (click)="checkTimeExist()"
      >
        <span nz-icon [nzType]="'sync'" [nzSpin]="false"></span>
      </a>
    </ng-template>
  </nz-col>
  <nz-col nzSpan="16">
    <nz-card>
      <nz-row>
        <nz-col nzSpan="24">
          <h1>Track Details</h1>
          <!--          <p *ngIf=" map.numberFinisher > 1">{{ map.numberFinisher }} Finishers</p>-->
          <!--          <p *ngIf=" map.numberFinisher == 1">{{ map.numberFinisher }} Finisher</p>-->
          <!--          <p *ngIf=" map.numberFinisher == 0">no finishers</p>-->
        </nz-col>

      </nz-row>
      <nz-row>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="(map.difficulty | difficulty)" [nzTitle]="'Difficulty'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="(map.numberFinisher | number)" [nzTitle]="'Finishers'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="(map.points | number)" [nzTitle]="'Points'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="4">
          <nz-statistic [nzValue]="(map.numberCheckpoint | number)" [nzTitle]="'Checkpoints'"></nz-statistic>
        </nz-col>
        <nz-col [nzSpan]="12">
          <!--          <h3>{{ map.points }} points</h3>-->
          <!--          <h3 *ngIf="map.numberCheckpoint > 1">{{ map.numberCheckpoint }} checkpoints</h3>-->
          <!--          <h3 *ngIf="map.numberCheckpoint == 1">{{ map.numberCheckpoint }} checkpoint</h3>-->
          <!--          <h3 *ngIf="map.numberCheckpoint == 0">no checkpoints</h3>-->
        </nz-col>
      </nz-row>
    </nz-card>
    <br>
    <nz-card *ngIf="map.videoLink" nzTitle="Vidéo">
      <nz-row>
        <nz-col nzSpan="24" nzAlign="center">
          <iframe [src]='safeURL' width="850" height="400" frameborder="0" allowfullscreen></iframe>

        </nz-col>
      </nz-row>
    </nz-card>
  </nz-col>
</nz-row>
<br>
<h2 style="text-align: center">Leaderboard</h2>
<nz-row *ngIf="map && map.records">
  <nz-col [nzMd]="2">
  </nz-col>
  <nz-col [nzMd]="20">
    <nz-table #leaderboardData [nzData]="map.records">
      <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Time</th>
        <th>Submitted</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let record of leaderboardData.data let i = index">
        <td>{{ i + 1 }}</td>
        <td style="cursor: pointer;" (click)="goToDetailsUser(record.idUser)"
            class="primary-color-text">{{ record.displayName }}
        </td>
        <td>
          <a nz-button *ngIf="record.fileUrl != null"
             nzType="link" [href]="getLinkRecord(record.fileUrl)"> {{ record.time }}
          </a>
        </td>
        <td *ngIf="record.fileUrl == null">{{ record.time }}</td>
        <td>{{ record.datePersonalBest | date: 'dd/MM/yyyy' }} {{ record.datePersonalBest | date: 'shortTime' }}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-col>
  <nz-col [nzMd]="2">
  </nz-col>
</nz-row>
<nz-row *ngIf="!map || !map.records">
  <nz-col>
    <nz-empty></nz-empty>
  </nz-col>
</nz-row>
<ng-template #loadingMap>
  <app-spinner></app-spinner>
</ng-template>

<!--    <ng-template #actionUploadTime>-->
<!--      <a-->
<!--        nz-button-->
<!--        nzType="link"-->
<!--        nz-tooltip-->
<!--        nzTooltipTitle="Upload time"-->
<!--        (click)="uploadTime()"-->
<!--      >-->
<!--        <i nz-icon nzType="upload" nzTheme="outline"></i>-->
<!--      </a>-->
<!--    </ng-template>-->
<!--    <nz-card>-->
<!--      <nz-row>-->
<!--        <nz-col nzSpan="8">-->
<!--          <img width="400" alt="logo" [src]="map.imageLink"/>-->
<!--        </nz-col>-->
<!--        <nz-col nzSpan="16">-->
<!--          <h1>{{ map.name }}           <small>By {{ map.author }}</small></h1>-->
<!--          <h1><strong>{{map.difficulty | difficulty}}</strong></h1>-->
<!--          <h1><strong>{{ map.points }} points</strong></h1>-->
<!--          <a-->
<!--            nz-button-->
<!--            nzType="link"-->
<!--            nz-tooltip-->
<!--            nzTooltipTitle="Download"-->
<!--            [href]="map.fileUrl" target="_blank"-->
<!--          >-->
<!--            <i nz-icon nzType="download" nzTheme="outline"></i>-->
<!--          </a>-->

<!--        </nz-col>-->
<!--      </nz-row>-->
<!--    </nz-card>-->
