<nz-layout class="layout-body">
  <nz-header class="page-header">
    <nz-row>
      <nz-col
        nzXs="0"
        nzMd="2"
        nzLg="2"
        nzXl="7"
        [routerLink]="['/']"
        class="cursor-pointer"
      >
        <img alt="logo" src="assets/img/logo.png" class="logo" />
      </nz-col>
      <nz-col nzXs="0" nzLg="8" nzXl="6" >
        <nz-row>
          <nz-col nzSpan="24">
            <input nz-input type="text" placeholder="Search" class="search" />
          </nz-col>
        </nz-row>
      </nz-col>
      <nz-col nzXs="24" nzMd="22" nzLg="14" nzXl="11">
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu-right">
          <li nz-menu-item nzMatchRouter [routerLink]="['/']">Home</li>
          <li nz-menu-item *ngIf="!isAdminView" [routerLink]="['/leaderboard']">Leaderboard</li>
          <li nz-menu-item *ngIf="!isAdminView" [routerLink]="['/maps']">Maps</li>
          <li nz-menu-item *ngIf="isAdmin" [routerLink]="['/admin']">Admin</li>
          <li nz-menu-item class="user-menu" *ngIf="isPlayer">
            <a nz-dropdown [nzDropdownMenu]="menu">
              <span class="username">{{ playerName }} </span>
              <nz-avatar nzIcon="user"></nz-avatar>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item [routerLink]="['/']">
                  Settings
                </li>
                <li  nz-menu-item [routerLink]="['/']">
                  Profile
                </li>
                <li nz-menu-item [routerLink]="['/authentication/logout']" [state]="{ local: true }">Sign out</li>
              </ul>
            </nz-dropdown-menu>
          </li>
        </ul>
      </nz-col>
    </nz-row>
  </nz-header>

  <nz-layout *ngIf="isAdminView">
    <nz-sider
      nzCollapsible
      nzBreakpoint="lg"
      [nzWidth]="200"
      class="sidepanel-menu"
    >
      <div [ngClass]="'sidepanel-menu-items'">
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <ng-container *ngIf="isAdminView">
            <li nz-menu-item nzMatchRouter [routerLink]="['/', 'admin', 'users']">
              <i nz-icon nzType="team" nzTheme="outline"></i>
              <span>Users</span>
            </li>
            <li nz-submenu nzTitle="Maps" nzIcon="form">
              <ul>
                <li nzMatchRouterExact [routerLink]="['/', 'admin', 'maps', 'list']" nz-menu-item>List of maps</li>
                <li nzMatchRouterExact [routerLink]="['/', 'admin', 'maps', 'suggested']" nz-menu-item>Suggested</li>
              </ul>
            </li>
            <li nz-submenu nzTitle="Records" nzIcon="database" [routerLink]="['/', 'admin', 'records']">
                <span>Records</span>
            </li>
            <li nz-submenu nzTitle="Records" nzIcon="database" [routerLink]="['/', 'api']">
              <span>Api</span>
            </li>

          </ng-container>
        </ul>
      </div>

    </nz-sider>
    <nz-layout class="inner-layout">
      <nz-content>
        <ng-content></ng-content>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>

<!--<header>-->
<!--  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">-->
<!--    <div class="container">-->
<!--      <a class="navbar-brand" [routerLink]="['/']"><img src="assets/img/logo.png" alt="trial classics"></a>-->
<!--      <button-->
<!--        class="navbar-toggler"-->
<!--        type="button"-->
<!--        data-toggle="collapse"-->
<!--        data-target=".navbar-collapse"-->
<!--        aria-label="Toggle navigation"-->
<!--        [attr.aria-expanded]="isExpanded"-->
<!--        (click)="toggle()"-->
<!--      >-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"-->
<!--           [ngClass]="{ show: isExpanded }">-->
<!--        <ul class="navbar-nav flex-grow">-->
<!--          <li class="nav-item"-->
<!--              [routerLinkActive]="['link-active']"-->
<!--              [routerLinkActiveOptions]="{ exact: true }">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>-->
<!--          </li>-->
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/leaderboard']">Leaderboard</a>-->
<!--          </li>-->
<!--          <li class="nav-item" [routerLinkActive]="['link-active']">-->
<!--            <a class="nav-link text-dark" [routerLink]="['/maps']">Maps</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-dark" href="/api" target="_blank">API</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link text-dark" href="/Identity/Account/Manage">Account</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </nav>-->
<!--</header>-->
